@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Medium'),
    url('../fonts/TTLakes-Medium.woff2') format('woff2'),
    url('../fonts/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Medium'),
    url('../fonts/TTLakesCompressed-Black.woff2') format('woff2'),
    url('../fonts/TTLakesCompressed-Black.woff') format('woff'),
    url('../fonts/TTLakesCompressed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: local('TT Lakes Medium'),
    url('../fonts/TTLakesCondensed-Bold.woff2') format('woff2'),
    url('../fonts/TTLakesCondensed-Bold.woff') format('woff'),
    url('../fonts/TTLakesCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
